COMPOSE_PROJECT_NAME=selfhosted
# Nginx
#NGINX_PROXITO_SERVER_NAME="*.docs.c3sl.ufpr.br *.build.docs.c3sl.ufpr.br"
#NGINX_WEB_SERVER_NAME="docs.c3sl.ufpr.br"

# Github
#GITHUB_USER
#GITHUB_TOKEN

# Database
#DBUSER=docs_user
#DBNAME=docs_db
#DBPASSWORD=docs_pwd
#DBHOST=database
#DBPORT=5432

#TELEMETRY_DBNAME=telemetry
#TELEMETRY_DBUSER=docs_user
#TELEMETRY_DBHOST=database
#TELEMETRY_DBPASSWORD=docs_pwd
#TELEMETRY_DBPORT=5432

# Settings/base.py

#SITE_ID= 1
#ROOT_URLCONF= 'readthedocs.urls'
#LOGIN_REDIRECT_URL= '/dashboard/'
#FORCE_WWW= False
#SECRET_KEY= 'replace-this-please'
#ATOMIC_REQUESTS= True
#DEFAULT_AUTO_FIELD= 'django.db.models.AutoField'
#DEBUG= True
#RTD_IS_PRODUCTION= False
#PRODUCTION_DOMAIN= 'docs.c3sl.ufpr.br'
#PUBLIC_DOMAIN= None
#PUBLIC_DOMAIN_USES_HTTPS= False
#USE_SUBDOMAIN= True
#RTD_EXTERNAL_VERSION_DOMAIN= 'build.docs.c3sl.ufpr.br'
#MKDOCS_BACKEND= 'readthedocs.doc_builder.backends.mkdocs'
#SPHINX_BACKEND= 'readthedocs.doc_builder.backends.sphinx'
#DEFAULT_FROM_EMAIL= 'no-reply@docs.c3sl.ufpr.br'
#SERVER_EMAIL= DEFAULT_FROM_EMAIL
#SUPPORT_EMAIL= None
#SUPPORT_FORM_ENDPOINT= None
#SESSION_COOKIE_DOMAIN= 'docs.c3sl.ufpr.br'
#SESSION_COOKIE_HTTPONLY= True
#SESSION_COOKIE_AGE= 30 * 24 * 60 * 60 # 30 days
#SESSION_SAVE_EVERY_REQUEST= False
#CSRF_COOKIE_HTTPONLY= True
#CSRF_COOKIE_AGE= 30 * 24 * 60 * 60   # 30 days
#SECURE_BROWSER_XSS_FILTER= True
#SECURE_CONTENT_TYPE_NOSNIFF= True
#X_FRAME_OPTIONS= 'DENY'
#CSP_BLOCK_ALL_MIXED_CONTENT= True
#CSP_DEFAULT_SRC= None
#CSP_REPORT_URI= None
#CSP_REPORT_ONLY= False
#RTD_LATEST= 'latest'
#RTD_LATEST_VERBOSE_NAME= 'latest'
#RTD_STABLE= 'stable'
#RTD_STABLE_VERBOSE_NAME= 'stable'
#RTD_CLEAN_AFTER_BUILD= True
#RTD_MAX_CONCURRENT_BUILDS= 4
#RTD_BUILDS_MAX_RETRIES= 25
#RTD_BUILDS_RETRY_DELAY= 5 * 60 # seconds
#RTD_BUILD_STATUS_API_NAME= 'docs/readthedocs'
#RTD_ANALYTICS_DEFAULT_RETENTION_DAYS= 30 * 3
#RTD_AUDITLOGS_DEFAULT_RETENTION_DAYS= 30 * 3
#RTD_TELEMETRY_DATA_RETENTION_DAYS= 30 * 6  
#DONT_HIT_API= False
#DONT_HIT_DB= True
#RTD_SAVE_BUILD_COMMANDS_TO_STORAGE= True
#USER_MATURITY_DAYS= 7
#DOC_PATH_PREFIX= '_/'
#RTD_EXT_THEME_DEV_SERVER= None
#STATIC_URL= '/static/'
#MEDIA_URL= '/media/'
#PYTHON_MEDIA= False
#CACHE_MIDDLEWARE_SECONDS= 60
#TIME_ZONE= 'UTC'
#USE_TZ= True
#USE_I18N= True
#USE_L10N= True
#CELERY_APP_NAME= 'readthedocs'
#CELERY_ALWAYS_EAGER= False
#CELERYD_TASK_TIME_LIMIT= 60 * 60
#CELERY_SEND_TASK_ERROR_EMAILS= False
#CELERYD_HIJACK_ROOT_LOGGER= False
#CELERY_ACKS_LATE= True
#CELERYD_PREFETCH_MULTIPLIER= 1
#CELERY_CREATE_MISSING_QUEUES= True
#CELERY_DEFAULT_QUEUE= 'celery'
#SENTRY_CELERY_IGNORE_EXPECTED= True
#DOCKER_ENABLE= True
#DOCKER_BUILD_IMAGES= None
#RTD_DOCKER_USER= 'docs:docs'
#RTD_DOCKER_SUPER_USER= 'root:root'
#RTD_DOCKER_WORKDIR= '/home/docs/'
#RTD_DOCKER_COMPOSE= True
#DOCKER_DEFAULT_IMAGE= 'readthedocs/build'
#DOCKER_VERSION= 'auto'
#DOCKER_DEFAULT_VERSION= 'latest'
#ACCOUNT_ADAPTER= 'readthedocs.core.adapters.AccountAdapter'
#ACCOUNT_EMAIL_REQUIRED= True
#ACCOUNT_EMAIL_VERIFICATION= 'mandatory'
#ACCOUNT_AUTHENTICATION_METHOD= 'username_email'
#ACCOUNT_ACTIVATION_DAYS= 7
#SOCIALACCOUNT_AUTO_SIGNUP= False
#SOCIALACCOUNT_STORE_TOKENS= True
#CORS_ALLOW_CREDENTIALS= True
#ALLOW_PRIVATE_REPOS= False
#DEFAULT_PRIVACY_LEVEL= 'public'
#DEFAULT_VERSION_PRIVACY_LEVEL= 'public'
#ALLOW_ADMIN= True
#RTD_ALLOW_ORGANIZATIONS= False
#ELASTICSEARCH_DSL_AUTO_REFRESH= False
#STRIPE_SECRET= None
#STRIPE_PUBLISHABLE= None
#STRIPE_LIVE_SECRET_KEY= None
#DJSTRIPE_WEBHOOK_SECRET= None
#DJSTRIPE_USE_NATIVE_JSONFIELD= True
#DO_NOT_TRACK_ENABLED= False
#ADSERVER_API_BASE= None
#ADSERVER_API_TIMEOUT= 0.35
#GLOBAL_ANALYTICS_CODE= None
#DASHBOARD_ANALYTICS_CODE= None  
#OAUTH_AVATAR_USER_DEFAULT_URL= GRAVATAR_DEFAULT_IMAGE
#OAUTH_AVATAR_ORG_DEFAULT_URL= GRAVATAR_DEFAULT_IMAGE
#MAILERLITE_API_KEY= None
#RTD_EMBED_API_PAGE_CACHE_TIMEOUT= 5 * 10
#RTD_EMBED_API_DEFAULT_REQUEST_TIMEOUT= 1
#RTD_EMBED_API_DOMAIN_RATE_LIMIT= 50
#RTD_EMBED_API_DOMAIN_RATE_LIMIT_TIMEOUT= 60
#RTD_SPAM_THRESHOLD_DONT_SHOW_ADS= 100
#RTD_SPAM_THRESHOLD_DENY_ON_ROBOTS= 200
#RTD_SPAM_THRESHOLD_DONT_SHOW_DASHBOARD= 300
#RTD_SPAM_THRESHOLD_DONT_SERVE_DOCS= 500
#RTD_SPAM_THRESHOLD_DELETE_PROJECT= 1000
#RTD_SPAM_MAX_SCORE= 9999

# Settings/docker_compose.py

#RTD_DOCKER_COMPOSE_VOLUME= 'selfhosted_build-user-builds'
#SLUMBER_API_HOST= 'http://web:8000'
#SLUMBER_USERNAME= 'admin'
#SLUMBER_PASSWORD= 'admin'
#USE_X_FORWARDED_HOST= True
#USE_PROMOS= False
#ADSERVER_API_KEY= None
#SESSION_COOKIE_DOMAIN=none
#BROKER_URL=redis://cache:6379/0
#CELERY_RESULT_BACKEND=redis://cache:6379/0
#CELERY_RESULT_SERIALIZER=json
#CELERY_TASK_IGNORE_RESULT= False
#AWS_ACCESS_KEY_ID='admin'
#AWS_SECRET_ACCESS_KEY='password'
#S3_MEDIA_STORAGE_BUCKET='media'
#S3_BUILD_COMMANDS_STORAGE_BUCKET='builds'
#S3_BUILD_ENVIRONMENT_STORAGE_BUCKET='envs'
#S3_BUILD_TOOLS_STORAGE_BUCKET='build-tools'
#S3_STATIC_STORAGE_BUCKET='static'
#S3_STATIC_STORAGE_OVERRIDE_HOSTNAME=PRODUCTION_DOMAIN
#S3_MEDIA_STORAGE_OVERRIDE_HOSTNAME=PRODUCTION_DOMAIN
#AWS_S3_ENCRYPTION= False
#AWS_S3_SECURE_URLS= False
#AWS_S3_USE_SSL= False
#AWS_S3_ENDPOINT_URL='http://storage:9000/'
#AWS_QUERYSTRING_AUTH= False
#BUILD_COLD_STORAGE_URL='http://storage:9000/builds'
#DATA_UPLOAD_MAX_NUMBER_FIELDS=None
#CORS_ORIGIN_ALLOW_ALL= True
